body {
    font-family: Arial, sans-serif;
  }
  
 .Header {
    background-color: #fdd835;
    padding: 10px 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    padding: 0 20px;
  } 
  
  nav ul li a {
    text-decoration: none;
    color: #000;
  }
  
  
  
 
  
  main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .introduction, .contact, .view {
    flex: 1;
    padding: 10px;
    margin: 10px;
  }
  
  .contact form {
    background-color: #eceff1;
    padding: 10px;
  }
  
  .input-group {
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #cfd8dc;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  